* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid #D4D4D4;
    padding-left: 34px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
    margin-left: 34px;
}

.search-input {
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 38px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 44px;
    outline-color: gray;
}

.search-input:focus {
    outline-style: dotted;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.navigation-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.navigation-link:hover:after {
    transform: scaleX(1);
}

.button-group {
    display: flex;
    height: 100%;
}

.button {
    height: 100%;
    cursor: pointer;
}

.sign-up {
    color: #5671F6;
    font-size: 18px;
    line-height: 21px;
    border: none;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #fff;
    border-left: 1px solid #D4D4D4;
}

.login {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background-color: #5671F6;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}

.container {
    max-width: 1130px;
    margin: auto
}

.film {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 358px;
}

.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    bottom: 1px solid;
    border: 1px solid #D4D4D4;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    cursor: pointer;
}

/* .trailer-button-icon, 
.trailer-button-text {
    vertical-align: middle;
} */
.trailer-button-icon {
    margin-right: 14px;
}

.film-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    display: block;
    margin-bottom: 32px;
    color: #A5A5A5;
    font-size: 18px;
    line-height: 21px;
}

.film-description {
    font-style: 14px;
    line-height: 150%;
    max-width: 514px;
    color: #000000;
    margin-bottom: 50px;
}

.about-film {
    display: flex;
    margin-bottom: 30px;
}

.about-text {
    display: block;
    font-style: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 40px;
}

.rating {
    display: flex;
    align-items: center;
}

.fim-rating-counter {
    padding-top: 34px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #5671f6;
    border-radius: 10px;
    margin-right: 28px;
}

.rating-title {
    font-weight: bold;
    font-style: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 12px;
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    padding-top: 70px;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    align-items: center;
}

.section-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}