*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid #D4D4D4;
    padding-left: 34px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header-logo:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: #d4d4d4;
    margin-left: 34px;
}

.search-input {
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 38px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;
    outline-color: gray;
}

.search-input:focus {
    outline-style: dotted;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.navigation-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.navigation-link:hover:after {
    transform: scaleX(1);
}

.button-group {
    display: flex;
    height: 100%;
}

.button {
    height: 100%;
    cursor: pointer;
}

.sign-up {
    color: #5671F6;
    font-size: 18px;
    line-height: 21px;
    border: none;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #fff;
    border-left: 1px solid #D4D4D4;
}

.login {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background-color: #5671F6;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}

.container {
    max-width: 1130px;
    margin: auto
}

.film {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 358px;
}

.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    bottom: 1px solid;
    border: 1px solid #D4D4D4;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    cursor: pointer;
}

/* .trailer-button-icon, 
.trailer-button-text {
    vertical-align: middle;
} */
.trailer-button-icon {
    margin-right: 14px;
}

.film-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    display: block;
    margin-bottom: 32px;
    color: #A5A5A5;
    font-size: 18px;
    line-height: 21px;
}

.film-description {
    font-style: 14px;
    line-height: 150%;
    max-width: 514px;
    color: #000000;
    margin-bottom: 50px;
}

.about-film {
    display: flex;
    margin-bottom: 20px;
}

.about-text {
    display: block;
    font-style: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 50px;
}

.rating {
    display: flex;
    align-items: center;
}

.fim-rating-counter {
    padding-top: 34px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #5671f6;
    border-radius: 10px;
    margin-right: 28px;
    color: #5671F6;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

.rating-title {
    font-weight: bold;
    font-style: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 12px;
    
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
    
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    padding-top: 70px;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.section-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}

.tabs-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    margin-top: 0;
    margin-bottom: 6px;

}

.en-name {
    color: #A5A5A5;
}
.news{
    background-color: #F3F3F3;
    padding-top: 70px;
    padding-bottom: 100px;
}
.section-news-title {
    font-weight: 900;
    color: #000;
    margin-bottom: 65px;
}
.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-card {
    flex-basis: 23%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;

}
.news-date {
    font-size: 14px;
    line-height: 16px;
}
.news-title {
    margin-top: 14px;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .card-image {
    width: 70px;
    height: 70px;
    }
    .header {
        height: 90px;
        padding-left: 20px;
    }
    .sign-up {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navigation {
        margin-right: 20px;
    }

    .navigation-link {
        margin-right: 10px;
        font-style: 16px;
    }
    .search-input {
        margin-left: 20px;
    }
    .header-logo:after {
        margin-left: 20px;
    }
}
    
@media (max-width: 991px) {
    .container {
        max-width: 760px;
    }
    .navigation {
        display: none;
    }
    .search-input {
        margin-right: auto;
    }   
    .navigation-link {
        margin-right: 10px;
    }
    .film-title {
        font-style: 24px;
        line-height: 1.4;        
    }
    .film-subtitle {
        margin-bottom: 20px;
    }
    .film-description, 
    .about-film {
        margin-bottom: 30px;

    }
    .about-text-bold {
        display: block;
        margin-bottom: 10px;
    }
    .card-image {
        width: 100px;
        height: 100px;
    }
    .card {
        flex-basis: 50%;

    }.news-cards {
        flex-basis: 45%;
        margin-bottom: 20px;
    }
    
}@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .header {
        height: 80px;
    }
    .film {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .film-wrapper {
        flex-wrap: wrap;
    }
    .film-text {
        order: -1;
        margin-bottom: 30px;
    }
    .cast {
        padding-top: 50px;
        padding-bottom: 70px;

    }
    .news {
        padding-top: 50px;
        padding-bottom: 70px;
    }


    
}    